* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.bg-secondary {
  background: #0E0E4E !important;
}

.txt-primary {
  color: #EE9A40;
}

@media (max-width: 768px) {
  .justify-content-center-sm {
    justify-content: center;
  }
}

@font-face {
  font-family: TitilliumWeb-Regular;
  src: url(../fonts/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: "karla";
  src: url(../fonts/Karla-Regular.ttf);
}
@font-face {
  font-family: "karla-bold";
  src: url(../fonts/Karla-Bold.ttf);
}
@font-face {
  font-family: "TitilliumWeb", sans-serif;
  src: url(../fonts/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: "Titillium Web-light", sans-serif;
  src: url(../fonts/TitilliumWeb-Light.ttf);
}
@font-face {
  font-family: "Poppins-Light";
  src: url(../fonts/Poppins-Light.otf);
}
@font-face {
  font-family: "Titillium Web-bold", sans-serif;
  src: url(../fonts/TitilliumWeb-Bold.ttf);
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px;
  }
}
body {
  font-family: "karla";
  font-size: 16px;
  color: #777777;
  overflow-x: hidden;
}

.z-index {
  position: relative;
  z-index: 1;
}

.topbar {
  position: relative;
}
.topbar:before {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 1% 100%);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 1% 100%);
  width: 1290px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f4f2f1;
  z-index: 0;
}

.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  float: right;
}
.social-links li {
  display: flex;
}
.social-links li a {
  margin: 0 8px;
  font-size: 1.2rem;
  color: #777777;
}
.social-links li a:hover {
  color: #EE9A40;
}

.navCustom .nav-item .nav-link {
  margin-right: 0;
  font-size: 16px;
  color: #364f75;
  padding: 8px 20px;
  border-radius: 4px;
  text-transform: capitalize;
  font-family: "Poppins-Light";
  display: flex;
}
@media (max-width: 1024px) {
  .navCustom .nav-item .nav-link {
    font-size: 14px;
  }
}
.navCustom .nav-item .nav-link:hover {
  color: #EE9A40;
}
.navCustom .nav-item .nav-link.active {
  color: #EE9A40;
}
.navCustom .nav-item .dropdown-menu {
  border: 0;
  border-top: 4px solid #EE9A40;
}
.navCustom .nav-item .dropdown-menu .dropdown-item {
  font-family: "Poppins-Light";
}
.navCustom .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #0E0E4E;
  color: #EE9A40;
}
.navCustom .nav-item .dropdown-menu .dropdown-item.active {
  background-color: #0E0E4E;
  color: #EE9A40;
}
.navCustom .dropdown-toggle:after {
  content: unset;
}
.navCustom .dropdown-toggle .up {
  display: none;
  font-size: 1.4rem;
}
.navCustom .dropdown-toggle .down {
  font-size: 1.4rem;
}
.navCustom .dropdown-toggle.show .up {
  display: inline-flex;
}
.navCustom .dropdown-toggle.show .down {
  display: none;
  font-size: 1.4rem;
}

.btn-theme {
  overflow: hidden;
  color: white;
  background: #EE9A40;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  font-family: "Karla", sans-serif;
  padding: 20px 70px 20px 44px;
  display: inline-block;
  border-radius: 30px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.btn-theme.bg-secondary:before {
  top: 0px;
  width: 0;
  left: 0;
  right: auto;
  z-index: -1;
  bottom: 0px;
  content: "";
  position: absolute;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  background-color: #EE9A40;
}
.btn-theme.bg-secondary .icon {
  color: #0E0E4E;
}
.btn-theme.bg-secondary:hover iconify-icon {
  transform: rotateY(180deg);
  color: #EE9A40;
}
.btn-theme:before {
  top: 0px;
  width: 0;
  left: 0;
  right: auto;
  z-index: -1;
  bottom: 0px;
  content: "";
  position: absolute;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  background-color: #0E0E4E;
}
.btn-theme .icon {
  font-size: 21px;
  background: #fff;
  color: #FF9800;
  padding: 7px;
  border-radius: 50%;
  position: absolute;
  right: 9px;
  transition: all 0.3s ease-in-out;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-theme .icon iconify-icon {
  transition: all 0.3s ease-in-out;
}
.btn-theme:hover:before {
  width: 100%;
}
.btn-theme:hover iconify-icon {
  transform: rotateY(180deg);
  color: #0E0E4E;
}

.slider {
  position: relative;
}
.slider .carousel-text {
  max-width: 50%;
  position: absolute;
  top: 30%;
  left: 11%;
  font-family: "Titillium Web-bold", sans-serif;
}
@media (max-width: 768px) {
  .slider .carousel-text {
    max-width: 80%;
    text-align: center;
  }
}
.slider .carousel-text h1 {
  color: #fff;
  font-size: 4.2rem;
  font-weight: bold;
  margin: 25px 0;
}
@media (max-width: 768px) {
  .slider .carousel-text h1 {
    font-size: 19px;
  }
}
.slider .carousel-item {
  min-height: 100vh;
}
.slider .carousel-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .carousel-item:before {
  content: "";
  background: #08133b;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.slider .carousel-control-next-icon {
  height: 50px;
  width: 50px;
}
.slider .carousel-control-prev-icon {
  height: 50px;
  width: 50px;
}

.featured-post .inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin-top: -130px;
  position: relative;
  z-index: 1;
  background: #fff;
}
.featured-post .inner .items {
  flex: 1;
  margin-bottom: 15px;
}
.featured-post .inner .items .photo {
  width: 100%;
  overflow: hidden;
}
.featured-post .inner .items .photo img {
  width: 100%;
  transition: transform 0.4s ease-in-out;
}
.featured-post .inner .items .photo img:hover {
  transform: scale(1.1);
}
@media (max-width: 992px) {
  .featured-post .inner .items {
    flex-basis: 48%;
  }
}
@media (max-width: 992px) {
  .featured-post .inner .items {
    flex-basis: 100%;
  }
}
.featured-post .inner .items .bottom-part {
  display: flex;
  position: relative;
  background-color: #0E0E4E;
}
.featured-post .inner .items .bottom-part .items:nth-child(1) {
  flex: 3;
  padding: 20px;
}
.featured-post .inner .items .bottom-part .items:nth-child(2) {
  flex: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 85px;
  transition: width 0.3s ease-in-out;
}
.featured-post .inner .items .bottom-part .items:nth-child(2):hover {
  width: 105px;
}
.featured-post .inner .items .bottom-part .items .title {
  font-size: 22px;
  color: #EE9A40;
}
.featured-post .inner .items .bottom-part .items .sub-title {
  font-size: 17px;
  color: #fff;
}
.featured-post .inner .items .bottom-part .items .link {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featured-post .inner .items .bottom-part .items .link a {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 4rem;
}
.featured-post .inner .items .bottom-part .items .link:before {
  content: "";
  position: absolute;
  background: orange;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transform: skew(10deg, 0deg) translate(9.4px, 0px);
}/*# sourceMappingURL=app.css.map */